<form action="/" method="POST">
  <div class="form-holder">
    <input
      name="email"
      type="email"
      class="email"
      placeholder="youremail@here"
    />
    <button class="email-submit">SUBSCRIBE</button>
  </div>
</form>
